/* Make all images in ob media/photos/videos pages square */
.b-photos__item img,
.m-square img,
.m-video-item img {
    width: 100% !important;
    height: 100% !important;
    object-fit: cover !important;
    object-position: center !important;
    aspect-ratio: 1 / 1 !important;
}

/* Ensure the container for visible images is also square */
.m-reset-wcag-link-focus.m-square,
.m-reset-wcag-link-focus.m-video-item {
    position: relative;
    width: 100%;
    padding-top: 100%; /* Creates 1:1 aspect ratio */
    overflow: hidden;
}

.m-reset-wcag-link-focus.m-square img,
.m-reset-wcag-link-focus.m-video-item img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
